---
# 1. SELinux 및 기본 보안 설정
- name: 1. SELinux 비활성화
  ansible.posix.selinux:
    state: disabled

- name: 1.5. firewalld 서비스 시작 및 활성화
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: yes

# 2~4. 방화벽 설정
- name: 2. 방화벽 기본 포트 허용 (SSH, HTTPS)
  ansible.posix.firewalld:
    service: "{{ item }}"
    permanent: true
    immediate: true
    state: enabled
  loop:
    - ssh
    - https

- name: 3. 방화벽 ICMP (ping) 허용
  ansible.posix.firewalld:
    protocol: icmp
    permanent: true
    immediate: true
    state: enabled

- name: 4. 방화벽 설정 재로드
  ansible.builtin.command: firewall-cmd --reload

# 5. 호스트 매핑 (group_vars/all.yml의 변수 활용)
- name: 5. 모든 서버에 /etc/hosts 매핑 업데이트
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: ".*{{ item.name }}$"
    line: "{{ item.ip }} {{ item.name }}"
    state: present
  loop: "{{ infrastructure_hosts }}"

# 5-1. EPEL 저장소 설치 (htop 등을 찾기 위해 필요)
- name: EPEL 저장소 설치
  yum:
    name: epel-release
    state: present

# 6. 패키지 설치 파트 (그룹별 분배)
- name: 6-1. [모든 노드] 공통 필수 유틸리티 설치
  ansible.builtin.dnf:
    name: "{{ common_packages }}"
    state: present

# - name: 6-2. [LB_EDGE] 네트워크 진단 및 보안 특화 툴 설치
#   ansible.builtin.dnf:
#     name: "{{ edge_packages }}"
#     state: present
#   when: "'LB_EDGE_servers' in group_names"

# - name: 6-3. [DB] 데이터 동기화 및 백업 툴 설치
#   ansible.builtin.dnf:
#     name:
#       - rsync
#     state: present
#   when: "'DB_servers' in group_names"

# 7. 네트워크 인터페이스 설정 - 마지막에 전체 서버 구성되었을 때 사용.
# 이 부분은 현재 각자 브릿지로 Windows GW에 연동해서 사용중
# LB 서버가 완벽하게 구현되었을 경우, 해당 파트를 통해서 내부망 공개 X
# (외부에서 내부망 접근을 차단하고 막아주는 용도)
# - name: 7. 내부 노드 게이트웨이 및 DNS 설정 (NMCLI)
#   block:
#     - name: 네트워크 커넥션 설정 변경
#       community.general.nmcli:
#         conn_name: "eth0"
#         gw4: 172.16.6.61
#         dns4: [8.8.8.8, 8.8.4.4]
#         state: present
#     - name: 인터페이스 재시작
#       ansible.builtin.shell: nmcli connection up "eth0"
#   # PC1-EDGE(L3 Gateway 역할)를 제외한 나머지 노드에만 적용
#   when: inventory_hostname != 'PC1-EDGE'
