# ==========================================
# 1. 외부 요청 수신 (Frontend)
# ==========================================
frontend http-in
    bind *:80 # 처음에 먼저 80포트로 접근 할 경우
    
    # URL 경로에 따른 트래픽 분류 (ACL 정의)
    acl is_web path_beg /web    # URL이 /web으로 시작하면 'is_web'이라는 규칙(ACL) 적용
    acl is_api path_beg /api    # URL이 /api로 시작하면 'is_api'라는 규칙(ACL) 적용

    # 분류된 규칙에 따라 백엔드 할당
    use_backend web_servers if is_web # PC2-WEB의 80포트로 전달 (상태 점검 포함)
    use_backend api_servers if is_api # PC3-API의 8000포트로 전달 (상태 점검 포함)

# ==========================================
# 2. 실제 서비스 서버 (Backend)
# ==========================================
backend web_servers
    # 정적 웹 콘텐츠 서버 (PC2)
    server pc2 172.16.6.62:80 check

backend api_servers
    # 데이터 처리 및 API 서버 (PC3)
    server pc3 172.16.6.63:8000 check