---
- name: 1. HAProxy 패키지 설치
  dnf:
    name: haproxy
    state: present

- name: 2. HAProxy 설정 파일 배포 (Jinja2 템플릿 사용)
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  notify: restart haproxy

- name: 3. HAProxy 서비스 활성화
  service:
    name: haproxy
    state: started
    enabled: yes
    
- name: PC1 마스커레이딩 및 포워딩 활성화
  block:
    - sysctl: { name: 'net.ipv4.ip_forward', value: '1', state: 'present' }
    - firewalld: { masquerade: 'yes', state: 'enabled', permanent: 'yes', immediate: 'yes' }